header, footer {text-align: center;}


#content {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 10px;
}

/* Include a new formatting class to use on the list */
.emphasize {font-weight: bold;}

.button {
	display: block;
	width: 45%;
	margin: 0px auto;


	font-family: sans-serif;
	text-align: center;
	text-decoration: none;	
	color: white;
	padding: .6em;
	background-color: #bbb;
	border-radius: 10px;
	border: 1px solid #aaa;

}

#linkArea {text-align: center;}
#linkArea * {margin-top: 10px;}
label {display: block;}
input#letter {width: 32px;}

figure {
	text-align: center;
	max-width: 300px;
	margin: 0px auto;

	padding: 10px 0px;
	border: 2px solid #aaa;
	border-radius: 5px;
}

figcaption {background-color: #ccc;}

@media only screen and (max-width: 400px) {
	input {
		white-space: normal;
	}

	.buttonGroup input { display: block; }

	ul {padding: 0px; list-style: none;}
	li {
		padding: 1.5px 0px;
		border-top: .5px solid black;
		border-bottom: .5px solid black;
	}
	li:nth-child(1)  {border-top: 2px solid black;}
	li:nth-child(8)  {border-bottom: 2px solid black;}
	li:nth-child(2n) {background-color: #ddd;}
	li img {display: block;}
}