.slider { 
    position: relative;
    width: 45%;
    margin: 0px auto;
    height: 350px;
    overflow: hidden;
}
.slider-slides { 
    max-width: 1024px;
    max-height: 500px;
    overflow: hidden;
}

.slide { 
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.slide-content { background-color: rgba(200,200,200,0.75); margin: 0px;}
.slide-img { 
    width: 100%;
    position: absolute;
    z-index: -1;
}
.slide-details { 
    font-family: sans-serif;
}
.slide-details-title, .slide-details-desc {
    margin: 5px 0px;
}
.slide-details-title { }
.slide-details-desc { padding-left: 10px; }
.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;}
    .btn--prev {
        float: left;
    }
    .btn--next {
        float: right;
    }